@model SelfCareUpdate
@{
    ViewData["Title"] = "SelfcareUpdate";
}

<div class="container p-3">
    <h3 class="text-center">You're now Selfcare @Model.Name</h3>
    <div class="mt-5">
        <form method="post" asp-action="SelfCareUpdate" asp-route-id="@Model.id" enctype="multipart/form-data">
            <label asp-for="Name">Name:</label>
            <input type="text" class="form-control my-2" asp-for="Name"/>

            <label asp-for="Price">Price</label>
            <input class="form-control my-2" asp-for="Price" />

            <label asp-for="Description">Description</label>
            <input class="form-control my-2" asp-for="Description" />

            <div class="d-flex justify-content-start align-items-center my-4">
                <label asp-for="Type" class="h4 me-3">Edit the Selfcare Type:</label>
                <select asp-for="Type" class="btn btn-secondary ms-2">
                    <option value="Massage">Massage</option>
                    <option value="SkinCare">SkinCare</option>
                    <option value="Yoga">Yoga</option>
                    <option value="Detox">Detox</option>
                    <option value="Spa">Spa</option>
                    <option value="Steam">Steam</option>
                    <option value="Meditation">Meditation</option>
                    <option value="Sauna">Sauna</option>
                    <option value="NailCare">NailCare</option>
                    <option value="Hydrotherapy">Hydrotherapy</option>
                    <option value="Armotherapy">Armotherapy</option>
                </select>
            </div>

            <div class="d-flex flex-column align-items-start justify-content-around">
                <label asp-for="ImgUrl" class="mb-3">Select A new Image?</label>
                <input asp-for="ImgUrl" type="file" class="form-control mb-3" />
                <div class="w-25"><img src="@Model.imgName" class="w-75" /></div>
                <input hidden asp-for="imgName" />
            </div>

            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-warning px-5 mx-2">Update</button>
                <a asp-action="SelfIndex" class="btn btn-secondary px-2 mx-2">Back To List</a>
            </div>
        </form>
    </div>
</div>

