@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-around align-items-center flex-column main">
    <h2 class="btn-shine text-white">Welcome @TempData["Name"]</h2>
    <h3 class="btn-shine text-white">To Your Dashboard</h3>
</div>




