@model EntertainmentUpdate
@{
    ViewData["Title"] = "EntertainmentUpdate";
}

<div class="container p-3">
    <h3 class="text-center">You're now Editing Entertainment @Model.Name</h3>
    <div class="mt-5">
        <form method="post" asp-action="EntertainmentUpdate" asp-route-id="@Model.id" enctype="multipart/form-data">
            <label asp-for="Name">Entertainment Name:</label>
            <input type="text" class="form-control my-2" asp-for="Name"/>
       

            <label asp-for="Price">Price</label>
            <input class="form-control my-2" asp-for="Price" />


            <label asp-for="Description">Description</label>
            <input class="form-control my-2" asp-for="Description" />
        

            <div class="d-flex justify-content-start align-items-center my-4">
                <label asp-for="BandType" class="h4 me-3">Edit the BandType:</label>
                <select asp-for="BandType" class="btn btn-secondary ms-2">
                    <option value="LiveBand">Live Band</option>
                    <option value="Dancers">Dancers</option>
                    <option value="DJ">DJ</option>
                </select>
            </div>

            <div class="d-flex flex-column align-items-start justify-content-around">
                <label asp-for="ImgUrl" class="mb-3">Select A new Image?</label>
                <input asp-for="ImgUrl" type="file" class="form-control mb-3" />
                <div class="w-25"><img src="@Model.imgName" class="w-75" /></div>
                <input hidden asp-for="imgName" />
            </div>
       

            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-warning px-5 mx-2">Update</button>
                <a asp-action="EntertainmentsIndex" class="btn btn-secondary px-2 mx-2">Back To List</a>
            </div>
        </form>
    </div>
</div>

